@{
    string sects = @"[
        { 'name': 'Главная', 'id': 'Index' },
        { 'name': 'Статьи', 'id': 'States' },
        { 'name': 'Добавить статью', 'id': 'PostState' }
    ]";
    Sections[] sections = JsonConvert.DeserializeObject<Sections[]>(sects);

    string site = @"{ 'htmlName': 'Index', 'siteName': 'Научные статьи' }";
    Site siteInfo = JsonConvert.DeserializeObject<Site>(site);

    string footer = @"{ 
        'address': 'г. Астрахань, АГТУ', 'email': 'info@ScienceState.ru',
        'social': [{ 'link': 'https://astu.org', 'icon': 'bi bi-buildings' }, { 'link': 'https://t.me/UnfallenMore', 'icon': 'bi bi-bug' }],
        'copyright': 'Разработан в рамках дисциплины \'Разработка приложений ASP.NET\' - Самодуров В.А.'
    }";
    Footer contentFooter = JsonConvert.DeserializeObject<Footer>(footer);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Научные статьи - главная страница</title>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/vendor/aos/aos.css" />
    <link rel="stylesheet" href="~/vendor/glightbox/css/glightbox.css" />
    <link rel="stylesheet" href="~/vendor/swiper/swiper-bundle.css" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="@siteInfo.HtmlName" class="logo d-flex align-items-center me-auto me-xl-0">
                <h1 class="sitename">@siteInfo.SiteName</h1>
            </a>
            <nav id="navmenu" class="navmenu sections">
                <ul>
                    @for (int i = 0; i < sections.Length; i++)
                    {
                        <li><a href="@sections[i].Id">@sections[i].Name</a></li>
                    }
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <!-- Костыльное выравнивание по центру -->
            <a></a>
            <a></a>
            <!-- /Костыльное выравнивание по центру -->
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="@siteInfo.HtmlName" class="logo d-flex align-items-center">
                        <span class="sitename">@siteInfo.SiteName</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>@contentFooter.Address</p>
                        <p><strong>Email:</strong> <span>@contentFooter.Email</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href="@contentFooter.Social[0].Link"><i class="@contentFooter.Social[0].Icon"></i></a>
                        <a href="@contentFooter.Social[1].Link"><i class="@contentFooter.Social[1].Icon"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links sections">
                    <h4>Разделы сайта</h4>
                    <ul>
                        @for (int i = 0; i < sections.Length; i++)
                        {
                            <li><a href="@sections[i].Id">@sections[i].Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>©<span> @contentFooter.Copyright</span></p>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>

    <!-- Site JS File -->
    <script src="~/js/site.js"></script>

    @* @await RenderSectionAsync("IndexJS", required: false) *@
</body>
</html>