@page
@model StatesModel

<!-- Gallery Cards Section -->
<section id="galleryMain" class="hero section features-cards section mb-4">
    <div class="container">
        <div id="gallery-container" class="row gy-4">
            @for (int i = 0; i < Model.StateRepository.Count; i++)
            {
                <form method="post">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-black fw-bold">@Model.StateRepository[i].Title</h5>
                            <p class="card-text">@Model.StateRepository[i].Description</p>
                            <a class="card-text"><b class="text-muted me-2">@Model.StateRepository[i].Author</b></a>
                            <a class="card-text">
                                <i class="bi bi-eye text-muted"></i>
                                <small class="text-muted me-2">@Model.StateRepository[i].Watches</small>
                            </a>
                            <a class="card-text"><small class="text-muted me-2">@Model.StateRepository[i].Date</small></a>
                            <a class="card-text"><small class="text-muted">@Model.StateRepository[i].Category</small></a>
                            <input type="hidden" asp-for="State!.Id" value="@Model.StateRepository[i].Id"/>
                            <button type="submit" asp-page-handler="delete" class="btn btn-primary" style="float: right">Удалить</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</section>
<!-- /Gallery Cards Section -->
