@page "/"
@using Newtonsoft.Json
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@using BlazorApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorApp.Data.StateContext> DbFactory

<PageTitle>Главная</PageTitle>

<!-- Hero Section -->
<section id="hero" class="hero section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="hero-content" data-aos="fade-up" data-aos-delay="200">
					<div class="company-badge mb-4">
						<i class="bi bi-book me-2"> </i>
						Портал научных статей
					</div>

					<h1 class="mb-4">
						Научные статьи
						<br> это про
						<br>
						<span class="accent-text">развитие и прогресс!</span>
					</h1>

					<p class="mb-4 mb-md-4">
						Веб-ресурс для чтения научных статей
					</p>
					<a class="btn-getstarted" href="#">Узнать больше</a>
				</div>
			</div>

			<div class="col-lg-5">
				<div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
					<img src="img/mainImage.png" alt="Hero Image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row gy-4 align-items-center justify-content-between">
			<div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
				<span class="about-meta">О ПОРТАЛЕ</span>
				<h2 class="about-title">Для чего это нужно?</h2>
				<p class="about-description">Мы предлагаем уникальную платформу для чтения проверенных научных статей.</p>
				<p><b>Цель портала</b> — сделать процесс поиска и чтения научных статей быстрым и доступным для всех желающих.</p>
				<p>
					В настоящее время, высокоразвитые технологии и огромное количество областей науки обеспечивают <b>огромное</b>
					количество научных статей, как старых, так и новых.
				</p>
				<p>Мы стремимся улучшить опыт изучения статей и популяризировать науку среди людей!</p>
			</div>

			<div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
				<div class="image-wrapper">
					<div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
						<img src="img/image2.jpg" alt="..." class="img-fluid main-image rounded-4">
						<img src="img/image.jpg" alt="..." class="img-fluid small-image rounded-4">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /About Section -->
<!-- Features Section -->
<section id="features" class="features-2 section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div id="feature-container" class="row align-items-center">
			@* Левая сторона *@
			<div class="col-lg-4">
				@for (int i = 0; i < 3; i++)
				{
					<div class="feature-item text-end @(i != 2 ? " mb-5" : "")" data-aos="fade-right" data-aos-delay="@(100 * (i + 2))">
						<div class="d-flex align-items-center justify-content-end gap-4">
							<div class="feature-content">
								<h3>@features[i].Title</h3>
								<p>@features[i].Description</p>
							</div>
							<div class="feature-icon flex-shrink-0">
								<i class="@features[i].Icon"></i>
							</div>
						</div>
					</div>
				}
			</div>

			<div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
				<div class="phone-mockup text-center">
					<img src="img/image3.png" alt="..." class="img-fluid">
				</div>
			</div>

			@* Правая сторона *@
			<div class="col-lg-4">
				@for (int i = 3; i < 6; i++)
				{
					<div class="feature-item @(i != 5 ? " mb-5" : "")" data-aos="fade-left" data-aos-delay="@(100 * (i + 2))">
						<div class="d-flex align-items-center gap-4">
							<div class="feature-icon flex-shrink-0">
								<i class="@features[i].Icon"></i>
							</div>
							<div class="feature-content">
								<h3>@features[i].Title</h3>
								<p>@features[i].Description</p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>
<!-- /Features Section -->
<!-- Gallery Cards Section -->
<section id="gallery" class="features-cards section">
	<div class="container">
		<div id="gallery-container" class="row gy-4">
			<h1>Популярные статьи</h1>
			@{
				IList<State> orderedStates = states.OrderByDescending(s => s.Watches).ToList();
				for (int i = 0; i < (orderedStates.Count > 2 ? 3 : orderedStates.Count); i++)
				{
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title text-black fw-bold">@orderedStates[i].Title</h5>
							<p class="card-text">@orderedStates[i].Description</p>
							<a class="card-text"><b class="text-muted me-2">@orderedStates[i].Author</b></a>
							<a class="card-text">
								<i class="bi bi-eye text-muted"></i>
								<small class="text-muted me-2">@orderedStates[i].RoundWatches()</small>
							</a>
							<a class="card-text"><small class="text-muted me-2">@orderedStates[i].PostTime</small></a>
							<a class="card-text"><small class="text-muted">@orderedStates[i].Category</small></a>
						</div>
					</div>
				}
			}
		</div>
	</div>
</section>
<!-- /Gallery Cards Section -->

@code{
	private StateContext context = default!;
	private IList<State> states = [];

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();
		states = context.state.ToList();
	}

	public async ValueTask DisposeAsync() => await context.DisposeAsync();


	class Features
	{
		public required string Title { get; set; }
		public required string Description { get; set; }
		public required string Icon { get; set; }
	}

	const string feats = @"[
                {'title':'Удобство и доступность', 'description':'Ищите и читайте статьи в любое время и из любого места', 'icon':'bi bi-stopwatch'},
                {'title':'Прозрачность процесса', 'description':'Отслеживайте авторов и источники их работ', 'icon':'bi bi-eye'},
                {'title':'Информированность', 'description':'Получайте уведомления о появлении статей об интересующей вас области', 'icon':'bi bi-info-circle'},
                {'title':'Поддержка пользователей', 'description':'Наша команда всегда готова помочь и ответить на ваши вопросы', 'icon':'bi bi-person-arms-up'},
                {'title':'Эффективный поиск', 'description':'Многокритериальный поиск статей обеспечит нахождение именно тех статей, которые вы ищете', 'icon':'bi bi-search'},
                {'title':'Кроссплатформенность', 'description':'Сайт адаптирован под ПК и под мобильные устройства', 'icon':'bi bi-browser-chrome'}
            ]";
	Features[] features = JsonConvert.DeserializeObject<Features[]>(feats) ?? [];

	
}